<footer class="c-footer ">
  <div class="c-wrapper  c-bottom">
    <div class="l-container">

        <img class="c-breadcrumb__img" src="./_public/assets/img/home-solid.svg" alt="icon home">
        <a href="#" class="c-breadcrumb__text">Home</a>
    </div>
  </div>
  <div class="c-wrapper u-bg__fa">
    <div class="l-container">

      <div class="c-box">
        <div class="c-box__item">
          <div class="c-box__title">Box Link 1</div>
          <ul class="c-link">
            <li class="c-link__item u-circle"><a href="#">Link link</a></li>
            <li class="c-link__item u-circle"><a href="#">Link link link</a></li>
            <li class="c-link__item u-circle"><a href="#">Link link link link link</a></li>
            <li class="c-link__item u-circle"><a href="#">Link link link</a></li>
            <li class="c-link__item u-circle"><a href="#">Link link link link link link</a></li>
          </ul>
        </div>
        <div class="c-box__item">
          <div class="c-box__title">Box Link 1</div>
          <ul class="c-link">
            <li class="c-link__item u-angleright"><a href="#">Link link link link link link</a></li>
            <li class="c-link__item u-angleright"><a href="#">Link link link link link link link link</a></li>
            <li class="c-link__item u-angleright"><a href="#">Link link link link link </a></li>
            <li class="c-link__item u-angleright"><a href="#">Link link link link link link link</a></li>
            <li class="c-link__item u-angleright"><a href="#">Link link link link link link link link link </a></li>
          </ul>
        </div>
        <div class="c-box__item">
          <div class="c-box__title">Box Link 1</div>
          <ul class="c-link">
            <li class="c-link__item u-link"><a href="#">Link link link link link link link link</a></li>
            <li class="c-link__item u-link"><a href="#">Link link link</a></li>
            <li class="c-link__item u-link"><a href="#">Link link link link link</a></li>
            <li class="c-link__item u-link"><a href="#">Link link link link link link link link link link</a></li>
            <li class="c-link__item u-link"><a href="#">Link link link link link link</a></li>
          </ul>

        </div>
      </div>
    </div>
 
  </div>
  <div class="c-copyright">
    © Copyright Allgrow Labo 2018
  </div>
</footer>