<header class="c-header">
  <h1 class="c-header__logo"><a href="<%= BASE_URL %>index.html"><img src="/assets/img/size-logo.png" alt="Logo"></a></h1>
  <nav class="c-gnav">
    <ul>
      <li class="is-active" data-name="home"><a  href="<%= BASE_URL %>index.html">Home</a></li>
      <li data-name="link1"><a href="<%= BASE_URL %>link1.html">Link 1</a></li>
      <li data-name="link2"><a href="<%= BASE_URL %>link2.html">Link 2</a></li>
    </ul>
  </nav>
</header>
